<!doctype html>
<html>
<head>
<script type='text/javascript' src='framework/jquery-1.6.2.js'></script>
<script type='text/javascript' src='framework/underscore.js'></script>
<script type='text/javascript' src='framework/backbone.js'></script>
<script type='text/javascript' src='framework/paper-nightly.js'></script>
<script type='text/javascript' src='framework/util.js'></script>
<script type='text/javascript' src='app/hierarchy.js'></script>
<script type='text/javascript' src='jquery.tools.min.js'></script>
<script type='text/javascript' src='img.js'></script>
<script type="text/paperscript" src="pp.js" canvas="canvas"></script>
<script type="text/paperscript1" src="circle.js" canvas="canvas"></script>
<script type="text/paperscript1" src="tadpole.js" canvas="canvas"></script>
<link rel="stylesheet" href="styles.css" />
</head>

<body class='flex'>

<header class="clearfix">
	<h1>img</h1>
	<span>Brian</span>
</header>

<div id="project"  class="clearfix">
	<div id="actions">
	<button class='awesome'>Save</button>
	</div>
	<div id="files">
		<ul><li>File 1</li> <li>File 2</li> </ul>
		<div id='new-file'>+</div>
	</div>
</div>

<div id="container" class='flex flex-placeholder'>
	<div id='sidebar'>
		<ul id='controls'>
			<li><a id='control-select' href='#'>Select</a></li>
			<li><a id='control-draw' href='#'>Draw</a></li>
			<li><a id='control-shape' href='#'>Shape</a></li>
			<li><a id='control-eye' href='#'>Eyedropper</a></li>
			<li><a id='control-bucket' href='#'>Bucket</a></li>
		</ul>
		<ul id='colors'>
			<li><a href='#' id='color-1'></a></li>
			<li><a href='#' id='color-2'></a></li>
		</ul>
		
		<div id="layer_container"></div>
	</div>
	
	<div id='draw' class='flex-placeholder flex'>
		<div class='flex-placeholder'></div>
		
		<div id='draw-inner'>
				<canvas id='canvas' width="640" height="480"></canvas>
		</div>
		
		<div class='flex-placeholder'></div>
	</div>
</div>

<!--<footer>---</footer>-->

<script type="text/template" id="search_template">
    <label>Layers</label>
    
    <ul id="layers">
    <% _.each(layers, function(layer) { %> 
    	<li><%= layer.get("name") %>
    		<ul class='items'>
    		<% _.each(layer.get("items").models, function(item) { %> 
    			<li><%= item.get("name") %></li> 
    		<% }); %>
    		</ul>
    	</li> 
    <% }); %>
    </ul>
    
    <input type="button" id="add_layer" value="Add" />
</script>

</body>
</html>
